{% extends 'torneos/main.html' %}

{% block content %}

<div class="header-bar">
    <a href="{% url 'penca_home' participante.penca.id%}">&#8592;Volver</a>
</div>

<div class="card_body">
    <div class="tareas_conjunto_items" style="padding: 20px;">

    </div>
    <form method="Post">
        {% csrf_token %}
        <p>Seguro quieres borrar a {{particpante.usuario}} de la penca {{participante.penca.nombre}}?</p>
        <input class="button" type="submit" value="Eliminar"/>
    </form>
</div>

{% endblock content %}
