{% extends 'torneos/main.html' %}

{% block content %}
    {%if user.is_staff%}
        <div class="tareas_conjunto_items">
            <div class="tarea_item">
                <h2>Administrar Pencas</h2>
                <a id="add_link" href="{% url 'penca_alta' %}">&#x2b;</a>
            </div>
            {% for penca in pencas %}
                <div class="tarea_item">
                    <div class="tarea_titulo">
                        <div class="tarea_completa_icono"></div>
                        <a href="{% url 'penca_config' penca.id %}">{{penca.nombre}}</a>
                    </div>
                    <a class="link_delete" href="">&#215</a>              
                </div>        
            {% endfor %}   
        </div>
    {%endif%}


    <div class="tareas_conjunto_items">
        <div class="tarea_item">
            <h2>Pencas para jugar</h2>
        </div>
        {% for participante in participantes %}
            <div class="tarea_item">
                <div class="tarea_titulo">
                    <div class="tarea_completa_icono"></div>
                    <a href="{% url 'penca_home' participante.penca.id %}">{{participante.penca.nombre}}| Puntaje : {{participante.puntos}}</a>
                </div>
                <a class="link_delete" href="">&#215</a>              
            </div>        
        {% endfor %}   
    </div>

    
{% endblock content %}

