{% extends 'torneos/main.html' %}

{% block contentHeader %}
    <div class="header-bar">
        <div>
            <h3 >Fixture</h3>
           
        </div>
    </div>
{% endblock contentHeader %}
{% block content %}

    <div id="buscador_alta">
        <a class="button" id="add_link" href="{% url 'genera_fixture' torneo %}" style="font-size: 14px;">Crear fixture general</a>
        <a class="button" id="add_link" href="{% url 'partido_alta' torneo %}" style="font-size: 14px;">Partido nuevo</a>        
    </div>        

    <div id="buscador_alta">
        <form method="GET" style="margin-top: 20px;display: flex;">
            <input type="text" name="objeto_buscado" value="{{search_input}}">
            <input class="button" type="submit" value="Buscar">
        </form>
    </div>

    <div class="tareas_conjunto_items">
        {% for partido in partidos %}
        <div class="tarea_item">
            <div class="tarea_titulo">
                <div class="tarea_completa_icono"></div>
                {{partido.Partido_fecha}}
                <a href="{% url 'partido_upd' partido.torneo.id partido.id%}">{{partido}} - {{partido.torneo.nombre}} </a>
            </div>
            <a class="link_delete" href="{% url 'partido_dlt' partido.torneo.id partido.id%}">&#215</a>              
        </div>        
        {% endfor %}   
    </div>

{% endblock content %}
