{% extends 'torneos/main.html' %}

{% block contentHeader %}
    <div class="header-bar">
        <a href="{% url 'home' %}">&#8592;Volver</a>
        <div id="header_links">
            <a id="add_link" href="{% url 'penca_upd' penca.id %}" style="color:#fefefe;"><h3>{{penca.torneo.nombre.upper}}</h3> </a>
        </div>
    </div>
{% endblock contentHeader %}

{% block content %}
    <div class="tareas_conjunto_items">
        <a href="#" id="btn-toggle-PencaHome" class="btn-toggle">ver sistema de puntuación</a>
        <div class="tareas_conjunto_items" id="penca_sist_puntos" style="display:none;">  
            <table >
                <tr>
                    <td>
                        
                    </td>
                    <td>
                        Puntos
                    </td>                    
                    <td>
                        
                    </td>
                    <td>
                        Puntos
                    </td>
                </tr>
                <tr>
                    <td>
                        Resultado 
                    </td>
                    <td>
                        {{penca.pts_ganador}}
                    </td>            
                    <td>
                        Resultado exacto 
                    </td>                    
                    <td>
                        {{penca.pts_resultado}}
                    </td>            
                </tr>
                <tr>
                    <td>
                        Octavos 
                    </td>
                    <td>
                        {{penca.pts_pasafase}}
                    </td>            
                    <td>
                        3er y 4to
                    </td>                    
                    <td>
                        {{penca.pts_terycuar}}
                    </td>            
                </tr>   
                <tr>
                    <td>
                        Segundo 
                    </td>
                    <td>
                        {{penca.pts_segundo}}
                    </td>            
                    <td>
                        Campeon
                    </td>                    
                    <td>
                        {{penca.pts_primero}}
                    </td>            
                </tr>                
            </table>   
        </div>
        <div class="tareas_conjunto_items" id="penca_Ranking"> 
               
            <div class="tareas_conjunto_items"> 
                <div class="tarea_titulo">
                    <h3>Partidos del día </h3>     
                </div>               
                {% for partido in partidos %}  
                    {%if partido.modif_ranking %}
                        <div class="tarea_itemCompleto">
                            <div class="tarea_titulo">
                                Finalizado
                                <div class="bandera_icono"><img src="{{partido.local.bandera.url}}" style="width:30px;height:30px;margin-left: 10px;"></div>
                                
                                {{partido.local.nombre}}
                                ( 
                                {%if partido.score_local is None %}   
                                    
                                {%else%}
                                    {{partido.score_local}}
                                {%endif%}
                                )
                                VS 
                                ( 
                                {%if partido.score_visitante is None %}   
                                    
                                {%else%}
                                    {{partido.score_visitante}}
                                {%endif%}
                                ) 
                                {{partido.visitante.nombre}} 
                                
                                <div class="bandera_icono"><img src="{{partido.visitante.bandera.url}}" style="width:30px;height:30px;margin-left: 10px;"></div>
                                
                            </div>
                        </div>    
                    {%else%}            
                        <div class="tarea_item">
                            <div class="tarea_titulo">
                                {{partido.fecha}}
                                <div class="bandera_icono"><img src="{{partido.local.bandera.url}}" style="width:30px;height:30px;margin-left: 10px;"></div>
                                
                                {{partido.local.nombre}}
                                ( 
                                {%if partido.score_local is None %}   
                                    
                                {%else%}
                                    {{partido.score_local}}
                                {%endif%}
                                )
                                VS 
                                ( 
                                {%if partido.score_visitante is None %}   
                                    
                                {%else%}
                                    {{partido.score_visitante}}
                                {%endif%}
                                ) 
                                {{partido.visitante.nombre}} 
                                
                                <div class="bandera_icono"><img src="{{partido.visitante.bandera.url}}" style="width:30px;height:30px;margin-left: 10px;"></div>
                                
                            </div>
                        </div>  
                    {%endif%}           
                {% endfor %}   
            </div>
            <div class="tareas_conjunto_items">     
                <div class="tarea_item">
                    <div class="tarea_titulo">      
                        <table >
                            <tr>
                                <td>
                                    <h2>Ranking de participantes </h2>
                                </td>  
                                <td></td><td></td><td></td><td></td><td></td>
                                <td></td><td></td><td></td><td></td><td></td>    
                                <td></td><td></td><td></td><td></td><td></td>
                                <td></td><td></td><td></td><td></td><td></td>  
                                <td>
                                    <a href="{% url 'torneo_home' torneohijo.id %}">
                                        <h4>Fixture torneo  &#x2b; </h4> 
                                    </a>
                                </td>
                            </tr>                                      
                        </table>
                    </div>
                </div>    
                <div class="tareas_conjunto_items">      
                    {% for participante in participantes %}      
                        <div class="tarea_item">
                            <div class="tarea_titulo" style="align-items: center;">
                                <table style="align-items: center;">
                                    <tr>
                                        <td>{{participante.usuario}}  </td>                                            
                                        <td> | Pts</td>
                                        <td> | Resultado</td>
                                        <td> | Resultado Exacto</td>
                                    </tr>
                                    <tr>
                                        
                                        <td></td>                                            
                                        <td> | {{participante.puntos}}</td>
                                        <td> | {{participante.pts_ganador}}</td>
                                        <td> | {{participante.pts_resultado}}</td>
                                    </tr>
                                </table>
                                {%if request.user != participante.usuario%}
                                    <a href="{% url 'penca_chusma' penca.id participante.torneo_hijo.pk %}">
                                        &#8904; Pronosticos
                                    </a>    
                                {%endif%}
                            </div>                       
                        </div>         
                    {% endfor %}   
                </div>
            </div>  
        </div>
    </div>
{% endblock content %}

