{% extends 'torneos/main.html' %}
{% load static %}
{% block contentHeader %}
    {%if user.is_staff%}
        <div class="header-bar">
            
                <div id="header_links">
                    <a id="add_link" href="{% url 'torneo_upd' torneo.id %}" style="color:#fefefe;"><h3>{{torneo.torneoPadre.nombre.upper}}</h3> </a>
                </div>
        </div>        
    {%else%}    
        <div class="header-bar">
            <div id="header_links">
                <h3>{{torneo.torneoPadre.nombre.upper}}</h3>
            </div>
        </div>    
    {%endif%}      
{% endblock contentHeader %}

{% block content %} 
<div class="tareas_conjunto_items">
    <a href="#" id="btn-toggle-fixture" class="btn-toggle">Ver Grupos</a> 
    <div class="tareas_conjunto_items" id="section-Fixture" > 
        {% if partidos %}
            {% if torneo.fase == "Pendiente" and Principal %}
                <div id="buscador_alta">
                    <h2>Partidos</h2>   
                    <a id="add_link" href="{% url 'partido_alta' torneo.id %}">&#x2b;</a>     
                </div>
            {% endif %}  
            <div class="tareas_conjunto_items">
                {% for fase in fixture %} 
                    {% for partido in fase %}    
                        {% if forloop.first %}
                            {% if partido == "0" %}
                                <h2>FINAL </h2>
                            {%elif partido == "1"%}
                                <h2>3er y 4to </h2>
                            {%elif partido == "2"%}
                                <h2>SEMIFINAL </h2>
                            {%elif partido == "4"%}
                                <h2>CUARTOS DE FINAL </h2>
                            {%elif partido == "8"%}
                                <h2>OCTAVOS DE FINAL </h2>                                    
                            {%else%}    
                                <h2>Grupo {{partido}} </h2>
                            {% endif %}
                        {%else%}    
                            <div class="tareas_conjunto_items"> 
                                {%if Principal %}
                                    <div class="tarea_item">
                                        <div class="tarea_titulo">
                                            {%if partido.fecha%}
                                                {{partido.fecha}}
                                            {%else%}
                                                Fijar fecha
                                            {%endif%}
                                            {% if partido.local and partido.visitante %}
                                                <div class="bandera_icono"><img src="{{partido.local.bandera.url}}" style="width:30px;height:30px;margin-left: 10px;"></div>
                                                    <a href="{% url 'partido_upd' torneo.id partido.id %}" style="margin-left: 10px;">  
                                                        {{partido.local.nombre}}
                                                        ( 
                                                        {%if partido.score_local is None %}   
                                                            
                                                        {%else%}
                                                            {{partido.score_local}}
                                                        {%endif%}
                                                        )
                                                        VS 
                                                        ( 
                                                        {%if partido.score_visitante is None %}   
                                                            
                                                        {%else%}
                                                            {{partido.score_visitante}}
                                                        {%endif%}
                                                        ) 
                                                        {{partido.visitante.nombre}} 
                                                    </a>
                                                <div class="bandera_icono"><img src="{{partido.visitante.bandera.url}}" style="width:30px;height:30px;margin-left: 10px;"></div>
                                            {% elif partido.local and not partido.visitante %}
                                                <div class="bandera_icono"><img src="{{partido.local.bandera.url}}" style="width:30px;height:30px;margin-left: 10px;"></div>
                                                <a href="{% url 'partido_upd' torneo.id partido.id %}" style="margin-left: 10px;"> {{partido.local.nombre}} VS {{partido.codigo}} </a>
                                            {% elif not partido.local and partido.visitante %}
                                                <a href="{% url 'partido_upd' torneo.id partido.id %}" style="margin-left: 10px;">{{partido.codigo}} VS {{partido.visitante.nombre}}</a>
                                                <div class="bandera_icono"><img src="{{partido.visitante.bandera.url}}" style="width:30px;height:30px;margin-left: 10px;"></div>
                                            {% else %}
                                                <a href="{% url 'partido_upd' torneo.id partido.id %}" style="margin-left: 10px;">  {{partido.codigo}}</a>
                                            {% endif %}
                                        </div>
                                        <a class="link_delete" href="{% url 'partido_dlt' partido.torneo.id partido.id %}">&#215</a>              
                                    </div>      
                                {%else%}
                                    <div class="tarea_item">
                                        <div class="tarea_titulo">
                                            {%if partido.fecha%}
                                                {{partido.fecha}}
                                            {%else%}
                                                Fijar fecha
                                            {%endif%}
                                            {%if partido.modif_ranking %}
                                                {% if partido.local and partido.visitante %}
                                                    <div class="bandera_icono"><img src="{{partido.local.bandera.url}}" style="width:30px;height:30px;margin-left: 10px;"></div>
                                                       
                                                        {{partido.local.nombre}}
                                                        ( 
                                                        {%if partido.score_local is None %}   
                                                            
                                                        {%else%}
                                                            {{partido.score_local}}
                                                        {%endif%}
                                                        )
                                                        VS 
                                                        ( 
                                                        {%if partido.score_visitante is None %}   
                                                            
                                                        {%else%}
                                                            {{partido.score_visitante}}
                                                        {%endif%}
                                                        ) 
                                                        {{partido.visitante.nombre}} 
                                                    
                                                    <div class="bandera_icono"><img src="{{partido.visitante.bandera.url}}" style="width:30px;height:30px;margin-left: 10px;"></div>
                                                {% elif partido.local and not partido.visitante %}
                                                    <div class="bandera_icono"><img src="{{partido.local.bandera.url}}" style="width:30px;height:30px;margin-left: 10px;"></div>
                                                    {{partido.local.nombre}} VS {{partido.codigo}} 
                                                {% elif not partido.local and partido.visitante %}
                                                    {{partido.codigo}} VS {{partido.visitante.nombre}}
                                                    <div class="bandera_icono"><img src="{{partido.visitante.bandera.url}}" style="width:30px;height:30px;margin-left: 10px;"></div>
                                                {% else %}
                                                    {{partido.codigo}}
                                                {% endif %}                                            
                                            {%else%}
                                                {% if partido.local and partido.visitante %}
                                                    <div class="bandera_icono"><img src="{{partido.local.bandera.url}}" style="width:30px;height:30px;margin-left: 10px;"></div>
                                                        <a href="{% url 'partido_upd' torneo.id partido.id %}" style="margin-left: 10px;"> 
                                                            {{partido.local.nombre}}
                                                            ( 
                                                            {%if partido.score_local is None %}   
                                                                
                                                            {%else%}
                                                                {{partido.score_local}}
                                                            {%endif%}
                                                            )
                                                            VS 
                                                            ( 
                                                            {%if partido.score_visitante is None %}   
                                                                
                                                            {%else%}
                                                                {{partido.score_visitante}}
                                                            {%endif%}
                                                            ) 
                                                            {{partido.visitante.nombre}} 
                                                        </a>
                                                    <div class="bandera_icono"><img src="{{partido.visitante.bandera.url}}" style="width:30px;height:30px;margin-left: 10px;"></div>
                                                {% elif partido.local and not partido.visitante %}
                                                    <div class="bandera_icono"><img src="{{partido.local.bandera.url}}" style="width:30px;height:30px;margin-left: 10px;"></div>
                                                    <a href="{% url 'partido_upd' torneo.id partido.id %}" style="margin-left: 10px;"> {{partido.local.nombre}} VS {{partido.codigo}} </a>
                                                {% elif not partido.local and partido.visitante %}
                                                    <a href="{% url 'partido_upd' torneo.id partido.id %}" style="margin-left: 10px;">{{partido.codigo}} VS {{partido.visitante.nombre}}</a>
                                                    <div class="bandera_icono"><img src="{{partido.visitante.bandera.url}}" style="width:30px;height:30px;margin-left: 10px;"></div>
                                                {% else %}
                                                    <a href="{% url 'partido_upd' torneo.id partido.id %}" style="margin-left: 10px;">  {{partido.codigo}}</a>
                                                {% endif %}                                            
                                            {%endif%}    
                                        </div>            
                                    </div>                                  
                                {%endif%}              
                            </div>
                        {%endif%}
                    {%endfor%}        
                {% endfor %}       
            </div>  
        {% else %}
            <div id="buscador_alta">
                
                <a id="add_link" href="{% url 'partidos' torneo.id %}"><h2 style="color:black">Partidos</h2>  </a>     
            </div>
        {% endif %}
    </div>    
    <div class="main" id="section-Grupos" style="display: none ;">
        {% if equipos_grupo %}
            {% if torneo.fase == "Grupos" or torneo.fase == "Pendiente" %} 
                <div class="tareas_conjunto_items">     
                    {% for grupo in equipos_grupo %}  
                        <div class="tareas_conjunto_items">      
                            {%for clasificado in grupo%}
                                {% if forloop.first %}
                                    <div class="tarea_item">
                                        <div class="tarea_titulo">                                            
                                            <h2>Grupo {{clasificado}}  </h2>
                                            <p>
                                                <h6>    Pts  |  PJ  |  PG  |  PE  |  PP  |  GF  |  GC  |  GD</h6>
                                            </p>        
                                        </div>
                                    </div>        
                                {%else%}    
                                    <div class="tarea_item">
                                        <div class="tarea_titulo" style="margin-right: 20px;">
                                            <div class="bandera_icono"><img src="{{clasificado.equipo.bandera.url}}" style="width:30px;height:30px;margin-right:30px;"></div>                                        
                                            <p  style="margin-left:0px">
                                                {{clasificado.equipo.nombre}}
                                                {{clasificado.puntos}}  |  {{clasificado.jugados}}  |  {{clasificado.ganados}}  |  {{clasificado.empatados}}  |  
                                                {{clasificado.perdidos}}  |  {{clasificado.goles_F}}  |  {{clasificado.goles_C}}  |  {{clasificado.goles_D}}   
                                            </p>        
                                        </div>                       
                                    </div>         
                                {%endif%}
                            {% endfor %}   
                        </div>
                    {% endfor %}  
                </div>
            {% endif %}
        {%else%}
            <div id="buscador_alta">         
                <a id="add_link" href="{% url 'clasificados' torneo.id %}"><h2 style="color:black">Grupos</h2></a>            
                </div>                
        {% endif %}
            
    
    </div>  
</div>

{% endblock content %}

